*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#08A6E4;
    --color-primary-shadow:rgba(7, 172, 230, .16);
    --color-redish:#FB3B64;
    --color-green:#55DFB4;
    --color-black:#000000;
    --color-gray:#A5A5A5;
    --color-light-grey:#F7F7F7;
    --color-white:#fff;

    --cont-width:1352px;

    --transiton-top-menu:all 0.3s ease-in-out;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Raleway',
    sans-serif;
}

.container{
    margin:0 auto;
    max-width:var(--cont-width);
    width: 100%;
}
/* #region Nav top */
.nav-top {
    position:static;
    top:0;
    right:0;
     box-shadow: 0px 0px 8px 2px var(--color-primary-shadow);
}

.nav-top_content {
    padding:1rem 0;
    display: flex;
    justify-content: space-between;
}

.nav-top__logo {
    font-size:2rem;
    font-weight:300;
    color:var(--color-primary);
}

.nav-top__menu{
    display: flex;
    font-family: 'Open Sans',
    sans-serif;
}

.nav-top__menu li{
    margin-right:4rem ;
    padding-top:0.5rem ;
    position: relative;
    text-transform: uppercase;
}
.nav-top__menu li:hover a{
    color:var(--color-black);
}

.nav-top__menu li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -1rem;
    left: 0;
    transition:var(--transiton-top-menu);
}

.nav-top__menu li:hover::after{
    background-color: var(--color-primary);
}

.nav-top__menu a{
    color:var(--color-gray);
    font-size:0.75rem;
    transition:var(--transiton-top-menu);
    font-weight: 700;
    letter-spacing:3.2px;
}

/* #endregion */

/* #region Front */

.front-section{
    height: calc(100vh - 4rem);
}

.front-section__content{
    height: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-section__title{
    font-size:3rem;
}
.front-section__text {
    font-family: 'Open Sans',
    sans-serif;
    margin-top: 1.25rem;
    margin-bottom:2.25rem;
    font-size:1rem;
}

.front-section__btn{
    font-size:1rem;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: bold;
    padding: 1.5rem  9.8rem;
    background: var(--color-primary);
    color:var(--color-white);
    border-radius: 2rem;
}

.front-section__image{
    height:50%;
    background: url("../assets/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

/* #endregion */

/* #region Popular */

.popular{
    padding-top: 6.25rem;
    padding-bottom:7.5rem;
}

.popular__title{
    text-align:center;
    font-size:2.25rem;
}

.popular__content{
    display: flex;
    justify-content: space-around;
    padding-top: 6.25rem;
    margin: 0 9rem;
}

.popular__item{
    text-align: center;
}

.popular__icon{
    width: 4rem;
    height:4rem;
    margin-left:1.5rem;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.popular__count{
    padding: 1rem 0;
    font-size:1.25rem;
    font-weight:800;
    letter-spacing:5.9px;
}

.populat__text{
    font-size:1rem;
    color:var(--color-gray);

}

.person-icon {
    background-color: var(--color-redish);
}

.person-icon::after {
    content: url("../assets/Person.svg");
    position: absolute;
    right: -15px;
    top: 5px;
}

.eye-icon{
    background-color:var(--color-primary);
}

.eye-icon::after{
    content: url("../assets/Eye.svg");
    position: absolute;
    right: -20px;
    top: 15px;
}

.catalog-icon{
    background-color:var(--color-green);
}

.catalog-icon::after{
   content: url("../assets/Catalog.svg");
   position: absolute;
   right: -20px;
   top: 5px;
}
/* #endregion */