.price {
    padding-top: 6.25rem;
    padding-bottom: 5rem;
}

.price__title {
    font-size: 2.25rem;
    text-align: center;
}

.price__cards {
    display: flex;
    gap:3em;
    flex-direction: column;
    text-align: center;
    margin: 2em 1em;
}

.price__card {
    padding: 1.3em 0;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 46px 17px $color-light-grey;
    display: flex;
}

.card--basic {
    border: 1px solid $color-redish;
    transform: scale(0.95);
    margin: 0 1em;
}

.card--professional {
    border: 1px solid $color-primary;
}

.card--premium {
    border: 1px solid $color-green;
    transform: scale(0.95);
    margin: 0 1em;
}

.price__header{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price__type {
    font-size: 1.25rem;
    font-weight: bold;
}

.price__amount {
    margin-top: 0.875rem;
    font-size: 2.875rem;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 300;
}

.amount--basic {
    color: $color-redish;
}

.amount--professional {
    color: $color-primary;
}

.amount--premium {
    color: $color-green;
}

.price__limit {
    margin-top: 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.price__offer li {
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    font-family: 'Open Sans',
        sans-serif;
}

.price__offer .offer--yes::before {
    content: url("/assets/Checkmark-1.svg");
    display: inline-block;
    margin-right: 10px;
}

.price__offer .offer--no::before {
    content: url("/assets/Close.svg");
    display: inline-block;
    margin-right: 10px;
}

.price__btn {
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.875rem;
    font-weight: bold;
    padding: 1rem 3.5rem;
    border-radius: 20px;
    color: $color-white;
}

.btn--basic {
    background: $color-redish;
}

.btn--professional {
    background: $color-primary;
}

.btn--premium {
    background: $color-green;
}

@include desktop{
    .price{
        padding-bottom: 10.75rem;
    }
    .price_content{
        @include container;
    }
    .price__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .price__card{
        flex-direction: column;
        padding-bottom: 3em;
    }
    .price__header{
        width: 100%;
        margin-bottom: 3em;
    }
}