/* #region Question */

.question__content {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    margin: 2em 1em;

}

.question__text {
    text-align: left;
    margin-bottom: 3em;
}

.question__title {
    font-size: 3rem;
    margin-bottom: 1.375rem;
}

.question__description {
    font-family: $open-sans;
    margin-bottom: 2.75rem;
}


.question__contact p {
    font-family: $open-sans;
    color: $color-gray;
    font-size: 1rem;
    font-weight: 600;
    display: block;
}

.question__email {
    margin-right: 15px;
}

.question__email::before {
    content: url("/assets/Mail\ Icon.svg");
    vertical-align: -50%;
    padding-right: 10px;
}

.question__phone::before {
    content: url("/assets/Phone\ Icon.svg");
    vertical-align: -50%;
    padding-right: 10px;
}


.question__form {
    display: flex;
    flex-direction: column;
    font-family: $open-sans;
}

.question_label {
    color: $color-primary;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.question__form input[type=text] {
    border: none;
    border-bottom: 1px solid $color-black;
    padding: 0.75rem 0.5rem 0.25rem 0.75rem;
    margin-bottom: 2.625rem;
}

.question__conditions {

    margin-bottom: 1.25rem;
    position: relative;
    display: block;
    cursor: pointer;
}

.question__conditions p {
    font-size: 0.75rem;
    color: $color-gray;
    margin-left: 35px;
    line-height: 17px;
}

.question__conditions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.question__conditions .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid $color-gray;
    background-color: $color-white;
    border-radius: 5px;
}


.question__conditions input:checked~.checkmark {
    background: url("/assets/Checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.question__btn {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1.25rem 6.125rem;
    align-self: flex-end;
    background: $color-primary;
    color: $color-white;
    border-radius: 25px;
    border: none;
}

@include desktop{
    .question__content{
        @include container;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 3em;
    }

    .question__text{
        text-align: center;
    }
    .question__contact p {
        display: inline-block;
    }

}