$cont-width: 1352px;
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-gray: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-white: #fff;

$logo-bg-color:#fc4887;
$header-icon-bg:#bdbdbd;
$navicon-bg:#efefef;
$nav-link-bg:#444444;
$nav-link-color:#696969;

$transiton-top-menu: all 0.3s ease-in-out;

$open-sans: 'Open Sans',
sans-serif;


//Info 

$padding-card:1.2em;
$margin-card:2.5em;