@import "reset";
@import "variable";
@import "utilis";
@import "nav";
@import "front-section";
@import "popular";
@import "info";
@import "price";
@import "question";
@import "footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Raleway',
        sans-serif;
}
