@import "reset";
@import "variable";
@import "utilis";
@import "nav";
@import "front-section";
@import "popular";
@import "info";
@import "price";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #fff;

    --cont-width: 1352px;

    --transiton-top-menu: all 0.3s ease-in-out;

    --open-sans: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Raleway',
        sans-serif;
}

.container {
    margin: 0 auto;
    max-width: var(--cont-width);
    width: 100%;
}


/* #region Question */

.question__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6.75rem;
}

.question__text {
    margin-top: 1rem;
    text-align: center;
    width: 50%;
    padding: 0 7.125rem;

}

.question__title {
    font-size: 3rem;
    margin-bottom: 1.375rem;
}

.question__description {
    font-family: var(--open-sans);
    margin-bottom: 2.75rem;
}


.question__contact p {
    font-family: var(--open-sans);
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    display: inline-block;
}

.question__email {
    margin-right: 15px;
}

.question__email::before {
    content: url("/assets/Mail\ Icon.svg");
    vertical-align: -50%;
    padding-right: 10px;
}

.question__phone::before {
    content: url("/assets/Phone\ Icon.svg");
    vertical-align: -50%;
    padding-right: 10px;
}


.question__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: var(--open-sans);
}

.question_label {
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.question__form input[type=text] {
    border: none;
    border-bottom: 1px solid var(--color-black);
    padding: 0.75rem 0.5rem 0.25rem 0.75rem;
    margin-bottom: 2.625rem;
}

.question__conditions {

    margin-bottom: 1.25rem;
    position: relative;
    display: block;
    cursor: pointer;
}

.question__conditions p {
    font-size: 0.75rem;
    color: var(--color-gray);
    margin-left: 35px;
    line-height: 17px;
}

.question__conditions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.question__conditions .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-white);
    border-radius: 5px;
}


.question__conditions input:checked~.checkmark {
    background: url("/assets/Checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.question__btn {
    font-size: 0.875rem;
    font-weight: 700;
    padding: 1.25rem 6.125rem;
    align-self: flex-end;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 25px;
    border: none;
}

/* #endregion */

/* #region Footer */
footer {
    padding: 1.5rem 0;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.27);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-size: 1.625rem;
    font-weight: 300;
    color: var(--color-primary);
    margin-bottom: 0.375rem;
}

.footer__text {
    font-size: 0.75rem;
    color: var(--color-gray);
}

.footer__icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    background: center;
    display: block;
}

.icon__facebook {
    background: url("/assets/Facebook.svg");
}

.icon__twitter {
    background: url("/assets/Twitter.svg");
    margin-right: 1rem;
}

/* #endregion */
